[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[packages]
djangorestframework = "*"
django = "*"
pygments = "*"
pillow = "*"
celery = "*"

[dev-packages]
pre-commit = "*"
commitizen = "*"

[requires]
python_version = "3.10"
