[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[packages]
djangorestframework = "*"
django = "*"
pygments = "*"

[dev-packages]
pre-commit = "*"
black = "==21.8b0"
commitizen = "*"

[requires]
python_version = "3.9"
